.about {
  padding: 3em 1em;
  background-color: #f5f5f5;
  text-align: center;
   margin-bottom: -1em;  /* This pulls the next section up a bit */
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}
  
/* Desktop adjustments using a media query */
@media (min-width: 1200px) {
  .about {
    padding: 1em 1em;   /* Reduced vertical padding on large screens */
    margin-bottom: -1.5em;
  }
}

/* Mobile adjustments */
@media (max-width: 600px) {
  .about {
    padding: 0.5em 1em;  /* Adjust padding for smaller screens */
    margin-bottom: 0;   /* Remove negative margin if it creates issues */
  }

  .about h2 {
    margin-top: 0.2em;   /* Lower the top margin if needed */
    margin-bottom: 0.5em;  /* Reduce bottom margin */
    font-size: 1.5rem;   /* Scale down if it's too large on mobile */
  }
  /* You could also adjust other text elements if necessary */
  .about p {
    margin: 0.5em 0; /* Reduce paragraph margins */
  }
}

.education {
    margin-top: 2em;
    text-align: left;
}


.education h3 {
    font-size: 1.4rem;
    margin-bottom: 1em;
    text-align: center;
}


.education-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  border-top: 1px solid #eee;
  padding-top: 1em;
}

.education-badge {
  max-width: 150px;
  width: 100%;
  height: auto;
}

.education-info {
  text-align: center;
}

.education-info h4 {
  font-size: 1.2rem;
  margin: 0.5em 0;
}

.education-timeline {
  font-style: italic;
  color: #777;
  margin: 0.5em 0;
}

.education-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.education-link:hover {
  color: #0056b3;
}